* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Finlandica', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to bottom right, #020024, #790909, #00d4ff);
  height: 100vh;
  margin: auto;
  color: black;
  line-height: 1.5;
  /* padding: 0 30%; */
}

.container {
  /* width: auto; */
  /* height: 80vh; */
  background-color: #f87474;
  text-align: center;
  border-radius: 5px;
  position: relative;
  /* max-width: 70%; */
}

.heading {
  padding-top: 2rem;
}
.heading__main {
  font-size: 3rem;
  font-weight: 700;
}
.heading__sub {
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 2rem;
}
.bill__amount,
.cash__given {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 2rem;
}
.label {
  display: block;
}

input {
  height: 3rem;
  width: 80%;
  font-size: 2rem;
  border: none;
  border-radius: 3px;
}

.btn {
  margin-top: 1.5rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  color: #fff;
}
.btn__bg {
  background-color: #15133c;
  border-radius: 10px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}
.return__change {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 1rem;
}

.table,
td,
th {
  padding: 1rem;
  text-align: center;
  margin: auto;
  border: 2px solid #fff;
  color: rgb(0, 0, 0);
  border-collapse: collapse;
}
.table {
  width: 100%;
}

.notesChange {
  text-align: center;
  color: blue;
  font-weight: bold;
  /* font-size: 1.5rem; */
}

#error-msg {
  font-size: 1.3rem;
}

.footer {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}
